.header {
    padding: 2%;
}

.search-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-top: 2%;
}

.search {
    display: flex;
    flex-grow: 1;
    margin-right: 10px;
    outline: 1px solid black;
    border-radius: 20px;
}

.search-input {
    font-size: 1em;
    color: #8d8d8d;
    border: none;
    outline: none;
    background: transparent;
}

.icons {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.favoriter img {
    width: 20px;
}

nav ul {
    list-style-type: none;
    padding: 1%;
    margin-left: 10px;
}
