.features-container {
    margin-top: 2%; 
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 10px;
}

.feature-item {
    display: flex;
    align-items: center; 
    padding: 0 0;
}


.feature-item img {
    width: 40px;
    height: 40px;
    margin-right: 10px; 
    margin-top: 0px;
}


.feature-text {
    font-size: 16px;
    color: #333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-weight: bold;
}

@media (min-width: 640px) {
    .features-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

@media (min-width: 1024px) {
    .features-container {
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;  
    }   
}