body { 

    background-color: #f0f0f0; 
    margin: 0; 
} 

.main {
    padding: 2%;
}

/* Typografi */ 
h1, h2, h3, p, a { 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
} 

