.hero {
    border: 1px solid black;
    border-radius: 15px;
    background-color:  rgb(212, 211, 211);
    margin-bottom: 2%;
    padding: 3%;
    font-size: 18px;
    margin-top: -20px;
}

.hero-text h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1em;
    text-align: center;
    text-transform: uppercase;
}

.text-hero {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    text-align: center;
}

@media (min-width: 640px) {
    .hero {
        margin-top: -40px;
    }
    
    .hero-text h1 {
        font-size: 24px;
    }
    
    .text-hero {
        font-size: 16px;
    }
}

@media (min-width: 1024px) {
    .hero {
        display: flex;
        flex-direction: row-reverse;
        max-width: 100%;
        padding: 1%;
    }

    #hero {
        width: 100%;
        border-radius: 15px;
    }

    .hero-text {
        width: 200%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero-text .text-hero {
        font-size: 18px;
      }
      
}

